
td {
	width:33%;
}
td:hover {
    text-decoration:underline;
}
tr:nth-child(odd) td:nth-child(odd){
    background-color:#f5f5f5;
}
tr:nth-child(even) td:nth-child(even){
    background-color:#f5f5f5;
	
	
	
}

#words_to_find {
	overflow:auto;
}

#words_to_find > li:hover{
	color:green;
	cursor:pointer;
}


