{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="/static/css/write_style.css">
<script src="/static/js/find.js"></script>
<script src="/static/js/sendrequest.js"></script>
<script src="/static/js/callbacks.js"></script>
<script src="/static/js/list.js"></script>
{% endblock %}

{% block menu %}
<li><a href="/">HOME</a></li>
<li class="dropdown active">
	<a class="dropdown-toggle" data-toggle="dropdown" href="#">CREATE 
	  <span class="caret"></span></a>
		<ul class="dropdown-menu">
			<li><a href="/edit">View/Edit Entries</a></li>
			<li><a href="/write">Write Essay</a></li>
		</ul>
</li>
{% endblock %}	

{% block content %}
<div class="jumbotron" style="padding:30px; margin-bottom:10px;">
<h3>Write</h3>
Start writing for whatever assignment you have. If there's a phrase you've 
for gotten how to say, or a word you think you've seen before, put a hashtag ("#") 
at the beginning of the word, and replaces spaces with underscores ("_"). 
Click either the "FIND" button or click your F7 key to get a list of the phrases 
you've #'d. Click on which ever to get words within your artillery whose definitions 
best match the phrase/word.
</div>
<div class="row">
	<div id="left_side" class="col-md-6">
		<ul id="words_to_find"></ul>
		<div class="btn-group btn-group-justified">
		  <div class="btn-group">
			<button id="sync_button" class="btn btn-primary">FIND</button>
		  </div>
		  <div class="btn-group">
		    <button id="submit_textarea" class="btn btn-primary">SUBMIT</button>
		  </div>
		</div>
		<form action="/write" method="POST">
			<textarea class="form-control" 
				name="textarea" rows=15 style="resize:none;"></textarea>
		</form>
	</div>
	
	<div id="right_side" class="col-md-6">
		<ul class="nav nav-tabs">
		  <li class="active"><a data-toggle="tab" href="#display_options">
			<!--<span class="glyphicon glyphicon-thumbs-up"></span>   -->
			Results</a></li>
		  <li><a data-toggle="tab" href="#word_map">
			<!--<span class="glyphicon glyphicon-modal-window"></span>  --> 
			Word Map</a></li>
		</ul>
		<div class="tab-content">
			<div id="display_options" class="tab-pane fade in active">
				<h3 id="word_to_find"></h3>
				<div id="word_info"></div>
				<ul id="recs" class="list-group">
				</ul>
			</div>
			<div id="word_map" class="tab-pane fade">
				WORD MAP
			</div>
		</div>
		
	</div>
</div>

{% endblock %}