<!DOCTYPE html>
<html>
	<head>
	<link rel="stylesheet" type="text/css" href="/static/css/write_style.css">
	</head>
<body>
<h1>{{ word_to_find }}</h1>
<div id="scrollableArea">
		{% set result = ADD.html_dict() %}
		{% set table_dict = result[0] %}
		{% set root = result[2] %}
		{% set max_len = 450 %}
	<table style="width:{{ max_len }}px; height:{{ max_len }}px">
			{% for key,value in table_dict|dictsort %}
			<tr>
				{% for word in table_dict[key] %}
				{% set chi = word.chi.decode('utf-8') %}
				{% set english = word.english %}
				{% set pinyin = word.pinyin %}
				<td onclick="display_word('{{ chi }}','{{ english }}','{{ pinyin }}')">
					<p>{{ chi }}</p>
				</td>
				{% endfor %}
			</tr>
			{% endfor %}
	</table>
</div>
</body></html>