{% extends "base.html" %}
{% block head %}
	<style>
	li.active {
	  text-decoration: underline;
	}
	</style>
	<script src="/static/js/signuplogin.js"></script>
{% endblock %}

{% block menu %}
<li class="active"><a href="/">HOME</a></li>
<li class="dropdown">
	<a class="dropdown-toggle" data-toggle="dropdown" href="#">CREATE 
	  <span class="caret"></span></a>
		<ul class="dropdown-menu">
			<li><a href="/edit">View/Edit Entries</a></li>
			<li><a href="/write">Write Essay</a></li>
		</ul>
</li>
{% endblock %}

{% block content %}	
<h1>About the webapp...</h1>
{% endblock content %}